:root{
    --cor-fundo:#C28F99;
    --fundo-texto:#2C4263;
    --textos:#FFFFFF;
    --caixa-de-sub-e-ad:#57749E;
    --força-fraca:#E71B32;
    --força-media:#E71B32;
    --força-forte:#00FF85;
}

body{
    justify-content: center;
    text-align: center;
    background-color: var(--cor-fundo);
}

.imagem-cadeado{
    width: 2%;
}