@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor-fundo:#C28F99;
    --fundo-texto:#2C4263;
    --textos:#FFFFFF;
    --caixa-de-sub-e-ad:#57749E;
    --força-fraca:#E71B32;
    --força-media:#FAF000;
    --força-forte:#00FF85;
    --borda:#0075FF;
    --fonte-legal:"Kanit", sans-serif;
}
*{
    font-weight: 400;
}




body{
    justify-content: center;
    text-align: center;
    background-color: var(--cor-fundo);
    color: var(--textos);
    font-family: var(--fonte-legal);
}

.imagem-cadeado{
    width: 2%;
}

.rng-senha{
    background-color: var(--fundo-texto);
    color: var(--textos);
    text-align: center;
}